.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #061325;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.dashboard-content-wrapper {
  padding: 24px;
}


.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #020f2d;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.dashboard-content {
  padding: 24px;
  flex: 1;
}